@charset "UTF-8";
/*!Обнуляющие стили*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------*/
body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.red {
  color: #f16d7f;
}

.italic {
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 425px) {
  .hide {
    display: none;
  }
  .hide-medium {
    display: block;
  }
  .hide-small {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-medium {
    display: none;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
  height: 75px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 18px 16px;
}

@media (max-width: 1140px) {
  .header__inner {
    padding: 18px 32px;
  }
}

@media (max-width: 425px) {
  .header__inner {
    padding: 18px 16px;
  }
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__left li {
  padding-right: 40px;
}

.header__right li {
  padding-left: 34px;
}

@media (max-width: 425px) {
  .header__hide {
    display: none;
  }
}

.header__menu:last-child {
  position: relative;
}

.header .cart::after {
  content: "5";
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  display: block;
  text-align: center;
  position: absolute;
  width: 19px;
  height: 19px;
  top: -5px;
  right: -10px;
}

.arrivals {
  background: #f8f3f4;
  min-height: 148px;
}

.arrivals .container {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1140px) {
  .arrivals .container {
    padding: 0 16px;
  }
}

@media (max-width: 450px) {
  .arrivals .container {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.arrivals__header {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.arrivals nav a,
.arrivals nav span {
  color: #636363;
  font-weight: 300;
}

.arrivals nav span {
  padding: 0 2px;
}

.arrivals nav a:last-child {
  font-weight: bold;
  color: #f16d7f;
}

.filter .container {
  display: flex;
  padding: 51px 8px 64px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .filter .container {
    padding-left: 16px;
  }
}

@media (max-width: 425px) {
  .filter .container {
    padding-left: 8px;
  }
}

.filter__left {
  color: #000000;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
}

.filter__left span {
  padding-right: 11px;
}

.filter__left > img {
  width: 15px;
  height: 10px;
}

@media (max-width: 425px) {
  .filter__left > img {
    width: 37px;
    height: 25px;
  }
}

.filter__right {
  display: flex;
  flex-grow: 0.6;
}

@media (max-width: 1024px) {
  .filter__right {
    flex-grow: 0;
  }
}

.filter__item {
  display: flex;
  align-self: center;
  padding: 0 14px;
}

@media (max-width: 425px) {
  .filter__item {
    padding: 0 8px;
  }
}

.filter__text {
  color: #6f6e6e;
  padding-right: 10px;
}

@media (max-width: 425px) {
  .filter__text {
    font-size: 12px;
    line-height: 14px;
    padding-right: 6px;
  }
}

.filter__dropdown {
  display: none;
  position: absolute;
  width: 360px;
  height: 531px;
  top: 0;
  left: 0;
  color: #6f6e6e;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px;
}

@media (max-width: 425px) {
  .filter__dropdown {
    width: 300px;
  }
}

.filter__dropdown > p {
  padding-left: 34px;
  padding-top: 11px;
}

.filter__dropdown img {
  position: absolute;
  top: 20px;
}

.filter__left:hover .filter__dropdown {
  display: block;
}

.filter__header {
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  padding: 11px;
  margin-top: 18px;
}

.brand {
  display: flex;
  max-height: 764px;
  max-width: 1600px;
  margin: 0 auto;
}

.brand > div {
  width: 50%;
  height: inherit;
}

@media (max-width: 700px) {
  .brand > div {
    width: 100%;
  }
}

.brand__left > img {
  width: 100%;
  max-height: inherit;
}

@media (max-width: 700px) {
  .brand__left {
    display: none;
  }
}

.brand__right {
  background: #f1e4e6;
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .brand__right {
    min-height: 363px;
  }
}

.brand__right-text {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-left: 64px;
}

@media (max-width: 930px) {
  .brand__right-text {
    margin-left: 40px;
  }
}

@media (max-width: 700px) {
  .brand__right-text {
    margin: 0 auto;
  }
}

.brand__head {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

@media (max-width: 930px) {
  .brand__head {
    font-size: 44px;
    line-height: 53px;
  }
}

.brand__text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

@media (max-width: 930px) {
  .brand__text {
    font-size: 24px;
    line-height: 29px;
  }
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  gap: 30px;
  padding: 64px 16px 96px;
}

@media (max-width: 760px) {
  .offer {
    gap: 20px;
    padding: 20px 16px 64px;
  }
}

@media (max-width: 550px) {
  .offer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 250px) 110px;
  }
}

.offer > div {
  position: relative;
}

.offer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.offer__acc {
  grid-column: 1/-1;
}

.offer__title {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 16px;
  line-height: 19px;
}

.offer__title-bottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.featured {
  padding: 0 16px;
}

.featured__head {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.featured__text {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 48px;
}

.featured__inner {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.featured__inner-padding {
  padding-top: 128px;
  padding-bottom: 128px;
}

@media (max-width: 790px) {
  .featured__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (max-width: 500px) {
  .featured__inner {
    grid-template-columns: 1fr;
  }
}

.featured img {
  object-fit: cover;
  width: 100%;
}

.featured__item {
  background: #f8f8f8;
}

.featured__item-name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 26px 18px 0;
}

.featured__item-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding: 13px 16px 18px;
}

.featured__price {
  font-size: 16px;
  line-height: 19px;
  padding: 0 18px 20px;
}

.link {
  border: 1px solid #ff6a6a;
  margin-top: 40px;
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: none;
  color: #f26376;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  transition: 0.5s;
}

.link > img {
  padding-right: 23px;
}

.link:hover {
  color: #ffffff;
  background: #f16d7f;
  border: 1px solid #ff6a6a;
}

.items__inner {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 8px;
}

@media (max-width: 790px) {
  .items__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 16px;
  }
}

@media (max-width: 500px) {
  .items__inner {
    grid-template-columns: 1fr;
    padding: 0 8px;
  }
}

.items img {
  object-fit: cover;
  width: 100%;
}

.items .price {
  font-size: 16px;
  line-height: 19px;
  padding: 0 18px 20px;
}

.items .item__card {
  background: #f8f8f8;
}

.items .item-desc {
  font-size: 16px;
  line-height: 19px;
  padding: 0 18px 20px;
}

.items .item-name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 26px 18px 0;
}

.pagination {
  display: flex;
  margin: 48px auto 0;
  padding: 12px 16px;
  width: 284px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  justify-content: space-between;
}

.services {
  background: #222224;
  min-height: 340px;
  margin-top: 95px;
}

.services__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

@media (max-width: 770px) {
  .services__inner {
    flex-direction: column;
  }
}

.services__item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

@media (max-width: 770px) {
  .services__item {
    max-width: 360px;
    padding: 48px 10px 0;
  }
}

@media (max-width: 770px) {
  .services__item-last {
    padding-bottom: 64px;
  }
}

.services__item > img {
  align-self: center;
}

.services__title {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
  padding: 25px 0 16px;
}

.services__text {
  font-weight: 300;
  text-align: center;
  color: #fbfbfb;
}

.subscribe {
  background: url(../img/sub-bg.jpg) no-repeat;
  background-size: cover;
}

.subscribe__inner {
  padding-top: 97px;
  padding-bottom: 126px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 770px) {
  .subscribe__inner {
    flex-direction: column;
  }
}

.subscribe__inner > div {
  max-width: 350px;
}

.subscribe__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
}

.subscribe__left {
  display: flex;
  flex-direction: column;
}

.subscribe__left img {
  align-self: center;
}

.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

@media (max-width: 770px) {
  .subscribe__title {
    padding-top: 48px;
  }
}

.subscribe__subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 32px;
}

@media (max-width: 450px) {
  .subscribe__subtitle {
    font-size: 14px;
    line-height: 21px;
  }
}

.subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: initial;
}

.subscribe__form {
  height: 49px;
}

.subscribe__form input {
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 21px;
  box-sizing: border-box;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  width: 185px;
}

@media (max-width: 450px) {
  .subscribe__form input {
    width: 150px;
  }
}

.subscribe__form button {
  height: inherit;
  border: none;
  color: white;
  font-family: inherit;
  background: #f16d7f;
  text-transform: uppercase;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  padding: 0 17px;
}

.footer {
  background: #222224;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 24px 32px;
}

@media (max-width: 475px) {
  .footer__inner {
    flex-direction: column-reverse;
    padding: 43px 0 0;
  }
}

.footer__copy {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

@media (max-width: 475px) {
  .footer__copy {
    padding: 24px 0;
  }
}

.footer__social img {
  padding: 4px;
}

.product-main {
  max-height: 777px;
  background-color: #f5f5f5;
  display: flex;
}

.product-main__img {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.prod-sell__inner {
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  background: #fff;
  position: relative;
  margin-top: -64px;
}

@media (max-width: 768px) {
  .prod-sell__inner {
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .prod-sell__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.prod-sell__red-beam {
  border: 1.5px solid #ef5b70;
  width: 60px;
  margin: 12px;
}

.prod-sell__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.prod-sell__subtitle {
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  max-width: 555px;
  padding-top: 48px;
  padding-bottom: 32px;
}

.prod-sell__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.prod-sell__grey-beam {
  border: 1px solid #eaeaea;
  width: 100%;
  margin: 64px;
}

.prod-sell__choose {
  display: flex;
}

.prod-sell__item {
  display: flex;
}

.prod-sell__text {
  margin-left: 23px;
  padding-right: 9px;
  color: #6f6e6e;
}

@media (max-width: 425px) {
  .prod-sell__text {
    font-size: 10px;
    line-height: 12px;
  }
}
